{{#contentFor "styles"}}
<link rel="stylesheet" href="{{asset 'css/fll/bootstrap.min.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/animate.min.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/fontawesome-all.min.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/magnific-popup.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/default.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/main.css'}}">
{{/contentFor}}

<div class="evente-wrap">
    <!-- td-banner-area-start -->
    <div class="td-banner-area td-banner-spacing bg-position jarallax p-relative"
        data-background="https://www.thuas.com/sites/hhs/files/2026-01/IMG_2834.png">
        <div
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1;">
        </div>
        <div class="container" style="position: relative; z-index: 2;">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="td-banner-title-wrap">
                        <span class="td-section-subtitle mb-20  wow fadeInLeft" data-wow-duration=".9s"
                            data-wow-delay=".2s">UNE EXPERIENCE UNIQUE</span>
                        <h2 class="td-section-title mb-15  wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".4s">
                            Cap sur l’innovation :<br />Rejoignez l’aventure !</h2>
                        <p class="mb-35 wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".6s">
                            Inscrivez-vous dès
                            maintenant auprès de la <b>FIRST LEGO League France</b> et venez relever le défi avec des
                            équipes
                            passionnées venues de toute la France !<br />
                            <br />
                            <a class="td-btn td-left-right  wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".8s"
                                href="https://firstlegoleaguefrance.fr/" target="_blank">
                                <span class="mr10 td-text d-inline-block mr-5">Inscrire un équipe</span>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- td-banner-area-end -->
</div>

{{#contentFor "scripts"}}
<script src="{{asset 'js/vendor/jquery.js'}}"></script>
<script src="{{asset 'js/wow.min.js'}}"></script>
<script src="{{asset 'js/Jarallax.js'}}"></script>
<script src="{{asset 'js/banner.js'}}"></script>
{{/contentFor}}