{{#contentFor "styles"}}
<link rel="stylesheet" href="{{asset 'css/fll/bootstrap.min.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/fontawesome-all.min.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/default.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/main.css'}}">
{{/contentFor}}

<div class="evente-wrap">
    <div class="td-map-area fix">
        <div class="td-map-inner">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5476.670008142746!2d0.36308277766252217!3d46.659646752886125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fdbcd2759528ed%3A0xfccc61d6a89d0569!2sPalais%20Des%20Congr%C3%A8s%20Du%20Futuroscope!5e0!3m2!1sen!2sfr!4v1776272413610!5m2!1sen!2sfr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

{{#contentFor "scripts"}}
<script src="{{asset 'js/vendor/jquery.js'}}"></script>
<script src="{{asset 'js/wow.min.js'}}"></script>
{{/contentFor}}