{{#contentFor "styles"}}
<link rel="stylesheet" href="{{asset 'css/fll/bootstrap.min.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/fontawesome-all.min.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/default.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/main.css'}}">
{{/contentFor}}

<div class="evente-wrap">
    <div class="td-brands-area td-brands-2-wrap pt-140 pb-115">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="td-schedule-2-title-wrap text-center mb-30 wow fadeInUp" data-wow-duration="1.5s"
                        data-wow-delay="0.3s">
                        <span class="td-section-subtitle td-section-subtitle-2 mb-30">Ils soutiennent les sciences et la
                            jeunesse</span>
                        <h2 class="td-section-title mb-10">Les Sponsors & Partenaires</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-6 wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".2s">
                    <div class="td-brands-item mb-25">
                        <a href="https://www.siemens.com/fr-fr/company/about/usa-foundations/" target="_blank"><img
                                src="https://firstlegoleaguefrance.fr/wp-content/uploads/2024/05/Logo_SiemensFondation.jpg"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6 wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="td-brands-item mb-25">
                        <a href="https://www.easytis.com/fr/" target="_blank"><img
                                src="https://firstlegoleaguefrance.fr/wp-content/uploads/2024/08/4xjvgKc-_400x400.jpg"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6 wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".4s">
                    <div class="td-brands-item mb-25">
                        <a href="https://www.murata.com/en-eu" target="_blank"><img
                                src="https://firstlegoleaguefrance.fr/wp-content/uploads/2025/05/with-slogan_red-e1747667291821.png"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6 wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".5s">
                    <div class="td-brands-item mb-25">
                        <a href="https://www.deere.fr/fr-fr" target="_blank"><img
                                src="https://firstlegoleaguefrance.fr/wp-content/uploads/2024/05/Logo_John_Deere-3c0ab1.svg"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6 wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".6s">
                    <div class="td-brands-item mb-25">
                        <a href="https://westsiderobotlab.fr/" target="_blank"><img
                                src="https://westsiderobotlab.fr/wp-content/uploads/2018/04/cropped-WSRL-1.jpg"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6 wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".7s">
                    <div class="td-brands-item mb-25">
                        <a href="https://decanum.fr/" target="_blank"><img
                                src="https://decanum.fr/wp-content/uploads/2023/08/2-Logo-rectangle-couleur-light.png"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6 wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".8s">
                    <div class="td-brands-item mb-25">
                        <a href="https://lelab.club/" target="_blank"><img
                                src="https://lelab.club/content/images/2025/04/logo-lelab--1-.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6 wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".9s">
                    <div class="td-brands-item mb-25">
                        <a href="https://air2.org/" target="_blank"><img
                                src="https://air2.org/wp-content/uploads/2025/05/Air2.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="text-center  justify-content-center wow fadeInUp" data-wow-duration="1.5s"
                data-wow-delay="0.3s">
                <a class="td-btn" href="https://fll2027.fr/devenir-partenaire/">Devenir Partenaire</a>
            </div>

        </div>
    </div>
</div>

{{#contentFor "scripts"}}
<script src="{{asset 'js/vendor/jquery.js'}}"></script>
<script src="{{asset 'js/wow.min.js'}}"></script>
{{/contentFor}}