{{#contentFor "styles"}}
<link rel="stylesheet" href="{{asset 'css/fll/bootstrap.min.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/swiper-bundle.min.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/fontawesome-all.min.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/default.css'}}">
<link rel="stylesheet" href="{{asset 'css/fll/main.css'}}">
{{/contentFor}}

<div class="evente-wrap">
    <!-- td-text-slider-area-start -->
    <div class="td-text-slider-area td-text-slider-spacing">
        <div class="container-fluid">
            <div class="row">
                <div class="swiper-container td-text-slider-active">
                    <div class="swiper-wrapper slide-transtion">
                        <div class="swiper-slide">
                            <div class="td-text-slider-item">
                                <h3 class="text">Ésprit d'équipe </h3>
                                <img src="{{asset 'img/text/round.png'}}" alt="round">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="td-text-slider-item">
                                <h3 class="text">Projet Innovant</h3>
                                <img src="{{asset 'img/text/round.png'}}" alt="round">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="td-text-slider-item">
                                <h3 class="text">Conception du Robot</h3>
                                <img src="{{asset 'img/text/round.png'}}" alt="round">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="td-text-slider-item">
                                <h3 class="text">Jeu du Robot</h3>
                                <img src="{{asset 'img/text/round.png'}}" alt="round">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="td-text-slider-item">
                                <h3 class="text">Exposition & Passage devant le jury</h3>
                                <img src="{{asset 'img/text/round.png'}}" alt="round">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- td-text-slider-area-end -->
</div>

{{#contentFor "scripts"}}
<script src="{{asset 'js/vendor/jquery.js'}}"></script>
<script src="{{asset 'js/swiper-bundle.min.js'}}"></script>
<script src="{{asset 'js/slider.js'}}"></script>
{{/contentFor}}